# ========== Virtual Environment ==========
env/
.venv/

# ========== Python Bytecode ==========
__pycache__/
*.py[cod]
*$py.class

# ========== Binary / Library Files ==========
*.so
*.dll
*.dylib
*.lib
*.pyd

# ========== Log / Temporary Files ==========
*.log
*.tmp
*.swp
*.bak
*.old

# ========== Environment & Config ==========
.env
.env.*

# ========== VS Code (optional, untuk personal config) ==========
.vscode/

# ========== Jupyter Notebook Checkpoints ==========
.ipynb_checkpoints/

# ========== OS / File System ==========
.DS_Store
Thumbs.db
desktop.ini

# ========== Distribution / Packaging ==========
*.egg
*.egg-info/
dist/
build/
